@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
	--color-primary-100: var(--color-green-100);
	--color-primary-200: var(--color-green-200);
	--color-primary-300: var(--color-green-300);
	--color-primary-400: var(--color-green-400);
	--color-primary-500: var(--color-green-500);
	--color-primary-600: var(--color-green-600);

	--color-bg-100: var(--color-neutral-100);
	--color-bg-200: var(--color-neutral-200);
	--color-bg-300: var(--color-neutral-300);
}

:root {
	--color-primary-100: var(--color-green-100);
	--color-primary-200: var(--color-green-200);
	--color-primary-300: var(--color-green-300);
	--color-primary-400: var(--color-green-400);
	--color-primary-500: var(--color-green-500);
	--color-primary-600: var(--color-green-600);

	--color-bg-100: var(--color-neutral-100);
	--color-bg-200: var(--color-neutral-200);
	--color-bg-300: var(--color-neutral-300);
}
